*{
    
}

.box{
    width: 100%;
    height: 175px;
    background-color: rgba(38, 148, 196, 0.875);
    background-image: url("../img/pattern.png");
}

.logo{
   width: 250px;
   height: 300px;
   object-fit: contain;
}

.Titolo{
    font-size: 70px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.Autore{
    font-size: 20px;
    color: grey;
}

.Colorspan1{
    color: rgb(4, 98, 219);
}

thead{
    background-color: rgb(0, 123, 255);
    color: rgb(255, 255, 255);
}

.tablebody1{
    background-color: rgb(123, 190, 190);
}

.tablebody2{
    background-color: rgb(123, 190, 190);
}

h3{
    color: grey;
}


#t{
    border-spacing: 0px;
}

.tablewide{
    width: 50%;
}

.bottomimg1{
    background-image: url("../img/monitor.jpg");
}

.image{
    color: rgb(255, 255, 255);
    width: 300px;
    height: 200px;
}

#monitor{
    background-image: url("../img/monitor.jpg") ;
    background-repeat: no-repeat;
}

#graph{
    background-image: url("../img/graph.jpg") ;
    background-repeat: no-repeat;
}

.testiimg{
    color: white;
}